<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false">
    <coverage includeUncoveredFiles="true" processUncoveredFiles="false">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <!-- NOTE: Exclude the following directories because they fail when directly included with code-coverage-->
            <directory suffix=".php">./app/Containers/*/UI/*/Routes</directory>
            <directory suffix=".php">./app/Containers/*/Data/Factories</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Containers Tests">
            <directory suffix="Test.php">./app/Containers</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="API_FULL_URL" value="http://api.wallaby.localhost"/>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>

    </php>
</phpunit>
